extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner PAGE CREATE_PROFILE
    div.Message
      div.Title
        h3 PAGE create profile
        h1 Yoy are on create PROFILE PAGE
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtonprofile
      a(href="/kalles")
         div.NavButton Go to kalles
      span.Details Use kalles
    div.NavButtonspage2
      a(href="/user")
          div.NavButton user page
    div.NavButtonspage2
      a(href="/kalles")
          div.NavButton Go to kalles
    div.NavButtons
      a(href="/")
        div.NavButton HOME
