extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner ATG Next-Generation - template- index.pug-HARRY-BOT
    div.NavButtonspage1
      a(href="/Harry_personlized")
         div.NavButton profile personlize
    div.NavButtonspage2
      a(href="/")
         div.NavButton Go To HOME
      span.Details Go HOME

    div.NavButtonspage2
      a(href="http://michelskoglund.online/")
         div.NavButton Misk HP
      span.Details Click ME!

    div.NavButtons
      a(href="/user")
          div.NavButton LOG IN