extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Harry Boy index.pug-STARTPAGE
          h1.span.Details ATG  The-Next-Generation 
           
    
    div.NavButton
      a(href="/create_profile")
         div.NavButton -index.pug Create-profile
    div.NavButtonspage2
      a(href="/Harry_Bot")
         div.NavButton Harry-Bot
    div.NavButtonsRight
      a(href="/Harry_personlized")
         div.NavButton Harry-personlize
    div.NavButtonspage5
      a(href="/Social_platform")
         div.NavButton Social​-platform
    div.NavButtonspage6
      a(href="/Interactive_tutorial")
         div.NavButton Interact-tutorial
    div.NavButtonspage7
      a(href="http://localhost:8080/users")
         div.NavButton backend-user
    div.NavButtonspage8
      a(href="http://localhost:8080/swagger-ui/")
         div.NavButton backend-swagger
    div.NavButtonspage9
      a(href="http://localhost:8080/h2-console")
         div.NavButton backend-h2-db
    div.NavButtonspage10
      a(href="http://localhost:3838")
         div.NavButton Hbp-algorithm


    div.NavButtons9
      a(href="/user")
          div.NavButton Log in, user page
    
    div.NavButtons
      a(href="https://www.atg.se/")
          div.NavButton atg.se