extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner KALLE Next-Generation - KALLE-SIDA
    div.NavButtonspage1
      a(href="/page1")
         div.NavButton page1
    div.NavButtonspage2
      a(href="/")
         div.NavButton HOME
      span.Details Go HOME

    div.NavButtonspage2
      a(href="http://michelskoglund.online/")
         div.NavButton Misk HP
      span.Details Click ME!

    div.NavButtons
      a(href="/user")
          div.NavButton LOG IN
