extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner KALLES Next-Generation - Social Platform 
    div.NavButtonspage1
      a(href="/Kalles-")
         div.NavButton kalles
    div.NavButtonspage2
      a(href="/")
         div.NavButton HOME
      span.Details Go HOME

    div.NavButtonspage2
      a(href="http://michelskoglund.online/")
         div.NavButton Misk HP
      span.Details Click ME!

    div.NavButtons
      a(href="/user")
          div.NavButton LOG IN
