extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner ATG Next-Generation - Social Platform 
    div.NavButtonspage1
      a(href="/Harry_Bot")
         div.NavButton Harry-Bot
    div.NavButtonspage2
      a(href="/")
         div.NavButton HOME
      span.Details Go HOME

    div.NavButtonspage2
      a(href="http://michelskoglund.online/")
         div.NavButton Misk HP
      span.Details Click ME!

    div.NavButtons
      a(href="/user")
          div.NavButton LOG IN