extends layout

block layout-content
  div.VView.WelcomeView
    h1.Banner WELCOME, #{userProfile.nickname}!
    div.Message
      div.Title
        h3 This is your profile page (h3)
        h2 kalles - hej hej  (h2)
        h1  Next-Generation (h1)
      pre.Details=JSON.stringify(userProfile, null, 2)

    div.NavButtonspage1
      a(href="/kalles")
         div.NavButton profile personlize
    div.NavButtonspage2
      a(href="/")
         div.NavButton Go To HOME
      span.Details Go HOME
    div.NavButtons
      a(href="https://www.google.se")
        div.NavButton google
